<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faBuilding"></fa-icon>
    </div>
    <div class="value">
      <div class="top">{{CompanyCount}}</div>
      <div class="bottom">Companies</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faBox"></fa-icon>
    </div>
    <div class="value">
      <div class="top">{{ProductCount}}</div>
      <div class="bottom">Products</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div class="value">
      <div class="top">{{UserCount}}</div>
      <div class="bottom">Users</div>
    </div>
  </div>
</div>
